BASE_API_URL=http://localhost:3000/api
BASE_APP_URL=http://localhost:8080
BASE_MOCK_URL=http://localhost:3001
CARRIER_APP_URL=http://localhost:3000/carrier
CUSTOMER_APP_URL=http://localhost:3000/customer
SESSION_NAME=session
FEATURED_NAME=featured
SESSION_PASSWORD=change-me
FIREBASE_VAPID_KEY=
SENTRY_DSN=
SENTRY_ENABLE=0
ADMIN_PASSWORD=change-me
ADMIN_SESSION_SECRET=change-me
